<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{{site.title}}</title>
<meta property="og:title" content="{{site.title}}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:description" content="{{site.description}}">  <!-- TODO: update og:description -->
<meta property="og:image" content="">  <!-- TODO: og:image -->
<meta property="og:image:alt" content=""> <!-- TODO: update og:image:alt -->
<meta property="og:image:width" content=""> <!-- TODO: update og:image:width -->
<meta property="og:image:height" content=""> <!-- TODO: update og:image:height -->
<meta property="og:image:type" content=""> <!-- TODO: update og:image:type -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" hreflang="en-us">
