<meta charset="UTF-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width">
<title>{{site.title}}</title>
<meta property="og:title" content="{{site.title}}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:description" content="{{site.description}}">  <!-- TODO: update og:description -->
<meta property="og:image" content="">  <!-- TODO: og:image -->
<meta property="og:image:alt" content=""> <!-- TODO: update og:image:alt -->
<meta property="og:image:width" content=""> <!-- TODO: update og:image:width -->
<meta property="og:image:height" content=""> <!-- TODO: update og:image:height -->
<meta property="og:image:type" content=""> <!-- TODO: update og:image:type -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<script src="https://kit.fontawesome.com/eda7be5140.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css" hreflang="en-us">
