// colors
$white: #ffffff;
$red: #ff9aa2;
$orange: #ffdac1;
$yellow: #f9efc7;
$green: #e2f0cb;
$mint: #b5ead7;
$blue: #b8dfe6;
$purple: #c5bbde;

// fonts
$font-stack: 'Whitney', system, system-ui, -apple-system,
  BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$Whitney: 'Whitney', $font-stack;
